@font-face {
    font-family: "FormaDJRCyrillicMicroMedium";
    src: url("FormaDJRCyrillicMicro-Medium-Testing.otf") format("opentype");
}
@font-face {
    font-family: "LeMurmureRegular";
    src: url("le-murmure.otf") format("opentype");
}
